html, body, ul, ol, li, p {
	margin: 0;
	padding: 0;
}

body {
	color: #000;
	font-family: Arial, sans-serif;
	line-height: 1.2;
	background-color: #fff;
	font-size: 0.8em;
}


#logo {
	position: absolute;
	top: 30px;
	left: 30px;
	width: 60px;
	z-index: 777;
}

#subtitle {
  font-family: Helvetica, Arial, serif;
	position: absolute;
	top: 35px;
	left: 100px;
	z-index: 777;
}

.fb-like {
	position: absolute;
	top: 100px;
	left: 30px;
	z-index: 777;
}

#currPhoto,
#nextPhoto {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}


#currArtist,
#nextArtist {
	color: white;
	-webkit-text-stroke: 2px #000; /* stroke color and weight */
	display: none;
	position: absolute;
	top: 5%;
	right: 5%;
	font-size: 5em;
	font-family: "Arial Black";
}


#currTrack,
#nextTrack {
	display: none;
	position: absolute;
	bottom: 10px;
	left: 10px;
}

#currTrack,
#nextTrack {
	background-color: rgba(100%,100%,100%,.5);
	width: 250px;
	height: 530px;
	overflow: hidden;
	padding: 10px;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow:rgba(0,0,0,.6)0 2px 9px;
	-moz-box-shadow:rgba(0,0,0,.6)0 2px 9px;
	-o-box-shadow:rgba(0,0,0,.6)0 2px 9px;
	box-shadow:rgba(0,0,0,.6)0 2px 9px;
}

#currTrack .friendPhoto,
#nextTrack .friendPhoto {
	width: 250px;
	height: 200px;
	overflow: hidden;
	position: relative;
}

#currTrack .horizontal img,
#nextTrack .horizontal img {
	height: 250px;
}

#currTrack .vertical img,
#nextTrack .vertical img {
	width: 250px;
}

#currTrack .friendName,
#nextTrack .friendName {
	width: 250px;
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,.25);
	padding: 2px 5px;
}

#currTrack .coverSrc,
#nextTrack .coverSrc {
	width: 250px;
	height: 250px;
	overflow: hidden;
	margin: 10px 0 5px 0;
}

#currTrack .coverSrc img,
#nextTrack .coverSrc img {
	width: 250px;
}

#currTrack .artistName,
#nextTrack .artistName {
	margin: 2px 0;
	color: #333;
}

#currTrack .songName,
#nextTrack .songName {
	font-weight: bold;
}


#playlist {
	position: absolute;
	bottom: 0;
	left: 300px;
	height: 332px;
	overflow: hidden;
	padding-left: 10px;
}

#playlist .track {
	background-color: rgba(100%,100%,100%,.5);
	float: left;
	width: 120px;
	height: 300px;
	overflow: hidden;
	margin: 0 20px 20px 0;
	padding: 10px;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow:rgba(0,0,0,.6)0 2px 9px;
	-moz-box-shadow:rgba(0,0,0,.6)0 2px 9px;
	-o-box-shadow:rgba(0,0,0,.6)0 2px 9px;
	box-shadow:rgba(0,0,0,.6)0 2px 9px;
}

#playlist .track .friendPhoto {
	height: 100px;
	width: 120px;
	overflow: hidden;
	position: relative;
}

#playlist .track .horizontal img {
	height: 100px;
}

#playlist .track .vertical img {
	width: 120px;
}

#playlist .track .friendName {
	text-align: left;
	width: 110px;
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,.25);
	padding: 2px 5px;
}

#playlist .track .coverSrc {
	width: 120px;
	height: 120px;
	overflow: hidden;
	margin: 10px 0 5px 0;
}

#playlist .track .coverSrc img {
	width: 120px;
}

#playlist .track .artistName {
	margin: 2px 0;
	color: #333;
}

#playlist .track .songName {
	font-weight: bold;
}
