<html>
  <head>
  	<title>FriendWave</title>
    <link rel="stylesheet" href="static/friendwave.css"/>
    <link rel="stylesheet" href="static/fw2.css"/>
    <link rel="icon" href="/friendwave/static/fwico.png" type="image/x-icon" />
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=372926196075013";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <a href="https://www.facebook.com/pages/FriendWave/416092288417492"><img
      id="logo" src="/friendwave/static/fw.png"/></a>
    <div id="subtitle"><h2>Coming soon, based on awesome html5
        technology&hellip;</h2></div>
    <div class="fb-like" data-href="https://www.facebook.com/pages/FriendWave/416092288417492" data-width="450" data-show-faces="true"></div>
  </body>
</html>
