<html>
  <head>
    <link rel="stylesheet" href="/static/style.css"/>
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    <div id="fb-root"></div>
    {% block body %}
    {% endblock body %}
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '{{ settings.FB_APP_ID }}',
          status     : true,
          cookie     : true,
          xfbml      : true,
          oauth      : true,
        });
      };
      (function(d){
          var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
          js = d.createElement('script'); js.id = id; js.async = true;
          js.src = "//connect.facebook.net/en_US/all.js";
          d.getElementsByTagName('head')[0].appendChild(js);
        }(document));
    </script>
    <div class="fb-login-button"
      data-scope="email,user_about_me,user_activities,friends_about_me,user_likes,friends_likes,user_interests,friends_interests,user_actions.music,friends_actions.music">Login with Facebook</div>
  </body>
</html>
